.page {
  width: 100vw;
  height: 100vh;
  background: rgba(10, 80, 112, 0.9);
}

.main {
  padding: 20px;
  height: 100%;
}

.footer {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
